In [138]:
import pandas as pd
import numpy as np

In [139]:
match = pd.read_csv('output/match.csv')
tournament = pd.read_csv('output/tournament.csv')
player = pd.read_csv('output/players.csv')

In [140]:
match.isna().sum()

match_num                  0
winner_id                  0
loser_id                   0
score                    169
best_of                    0
round                      0
minutes               104430
w_ace                 103782
w_df                  103782
w_svpt                103782
w_1stIn               103782
w_1stWon              103782
w_2ndWon              103782
w_SvGms               103778
w_bpSaved             103782
w_bpFaced             103782
l_ace                 103782
l_df                  103782
l_svpt                103782
l_1stIn               103782
l_1stWon              103782
l_2ndWon              103782
l_SvGms               103778
l_bpSaved             103782
l_bpFaced             103782
winner_rank            19372
winner_rank_points     19388
loser_rank             35232
loser_rank_points      35248
tourney_pk                 0
dtype: int64

In [141]:
match.describe()

,match_num,winner_id,loser_id,best_of,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,185764.000000,185764.000000,185764.000000,185764.000000,81334.000000,81982.000000,81982.000000,81982.000000,81982.000000,81982.000000,...,81982.000000,81982.000000,81982.000000,81986.000000,81982.000000,81982.000000,166392.000000,166376.000000,150532.000000,150516.000000
mean,160.464175,180105.888068,181613.891987,3.034162,97.695269,4.823388,2.855907,71.297004,44.270901,32.142848,...,44.565112,28.046169,12.715657,10.942612,4.658608,8.864238,383.957919,470.958107,434.321320,356.754518
std,289.562750,46571.821798,46645.664816,0.259146,41.516997,4.389558,2.420502,25.530921,16.950740,11.414119,...,16.777904,12.274711,6.322835,3.499454,3.148033,3.967422,314.201072,1041.945639,355.975553,703.270209
min,1.000000,100644.000000,100644.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,17.000000,122330.000000,124079.000000,3.000000,72.000000,2.000000,1.000000,53.000000,33.000000,24.000000,...,33.000000,19.000000,8.000000,9.000000,2.000000,6.000000,137.000000,49.000000,156.000000,35.000000
50%,130.000000,203526.000000,205815.000000,3.000000,91.000000,4.000000,2.000000,67.000000,42.000000,30.000000,...,42.000000,26.000000,12.000000,10.000000,4.000000,8.000000,298.000000,161.000000,325.000000,138.000000
75%,272.000000,214152.000000,214818.000000,3.000000,119.000000,7.000000,4.000000,87.000000,54.000000,38.000000,...,54.000000,35.000000,16.000000,13.000000,6.000000,11.000000,562.000000,439.000000,642.000000,378.000000
max,8312.000000,245099.000000,245099.000000,5.000000,4756.000000,75.000000,114.000000,1957.000000,1330.000000,836.000000,...,893.000000,532.000000,399.000000,50.000000,120.000000,190.000000,2220.000000,16950.000000,2257.000000,16950.000000

In [142]:
match = match.dropna(subset=['w_ace'])

In [143]:
match.isna().sum()

match_num                0
winner_id                0
loser_id                 0
score                    0
best_of                  0
round                    0
minutes                801
w_ace                    0
w_df                     0
w_svpt                   0
w_1stIn                  0
w_1stWon                 0
w_2ndWon                 0
w_SvGms                  0
w_bpSaved                0
w_bpFaced                0
l_ace                    0
l_df                     0
l_svpt                   0
l_1stIn                  0
l_1stWon                 0
l_2ndWon                 0
l_SvGms                  0
l_bpSaved                0
l_bpFaced                0
winner_rank            899
winner_rank_points     913
loser_rank            3123
loser_rank_points     3138
tourney_pk               0
dtype: int64

In [144]:
match['winner_rank'] = match.winner_rank.fillna(int(np.mean(match.winner_rank)))
match['winner_rank_points'] = match.winner_rank_points.fillna(int(np.mean(match.winner_rank_points)))
match['loser_rank'] = match.loser_rank.fillna(int(np.mean(match.loser_rank)))
match['loser_rank_points'] = match.loser_rank_points.fillna(int(np.mean(match.loser_rank_points)))

match['minutes'] = match.groupby('tourney_pk')['minutes'].apply(lambda x: x.ffill().bfill())
match = match.dropna(subset=['minutes'])

match = match.astype({"minutes": int, "w_ace": int, "w_df": int, "w_svpt": int,
                      "w_1stIn": int, "w_1stWon": int, "w_2ndWon": int, "w_SvGms": int,
                      "w_bpSaved": int, "w_bpFaced": int, "l_ace": int, "l_df": int,
                      "l_svpt": int, "l_1stIn": int, "l_1stWon": int, "l_2ndWon": int,
                      "l_SvGms": int, "l_bpSaved": int, "l_bpFaced": int
                    })

In [145]:
player.isna().sum()

player_id           0
country_id          0
name                0
sex                 0
hand               33
ht               9551
year_of_birth       0
dtype: int64

In [146]:
player['hand'] = player.hand.fillna(lambda x: np.mode(player.hand))
player['ht'] = player.groupby('sex')['ht'].apply(lambda x: x.ffill().bfill())

player = player.astype({"ht": int})

In [148]:
tournament.isna().sum()

tourney_pk             0
tourney_id             0
date_id                0
tourney_name           0
surface               62
draw_size              0
tourney_level          0
tourney_spectators     0
tourney_revenue        0
dtype: int64

In [149]:
tournament.surface.value_counts()

Hard      2599
Clay      2052
Grass      110
Carpet      88
Name: surface, dtype: int64

In [150]:
tournament['surface'] = tournament.groupby('tourney_name')['surface'].apply(lambda x: x.ffill().bfill())
tournament['surface'] = tournament.surface.fillna('Hard')

In [155]:
match.to_csv('output/match_noNull.csv', index=False)
player.to_csv('output/players_noNull.csv', index=False)
tournament.to_csv('output/tournament_noNull.csv', index=False)